<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/letters">Letters</a></li>
                <li><a href="/recommendations">Recommendations</a></li>
                <li><a href="/home_seek">Home Seek</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <div class="recommendation-cards">
            {% for letter in letters %}
            <div class="card">
                <a href="{{ url_for('letter_detail', letter_id=letter['id']) }}">
<!--                    <img src="{{ letter['image_url'] }}" alt="{{ letter['title'] }}">-->
                    <h2>{{ letter['title'] }}</h2>
<!--                    <p>{{ letter['description'] }}</p>-->
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
